.form-container {
    background-color: #e0f7fa;
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.separator {
    border: 1px solid #d3d3d3;
    margin: 20px 0;
}

.center-submit {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}